src/main/resources/wsdl/requests.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/soap" targetNamespace="http://example.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/soap">

    <xs:element name="TextToPdfRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TextToPdfResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pdfContent" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="TextToPdfResponse">
    <wsdl:part element="tns:TextToPdfResponse" name="TextToPdfResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TextToPdfRequest">
    <wsdl:part element="tns:TextToPdfRequest" name="TextToPdfRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PdfPort">
    <wsdl:operation name="TextToPdf">
      <wsdl:input message="tns:TextToPdfRequest" name="TextToPdfRequest">
    </wsdl:input>
      <wsdl:output message="tns:TextToPdfResponse" name="TextToPdfResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PdfPortSoap11" type="tns:PdfPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TextToPdf">
      <soap:operation soapAction=""/>
      <wsdl:input name="TextToPdfRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TextToPdfResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PdfPortService">
    <wsdl:port binding="tns:PdfPortSoap11" name="PdfPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>